*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
 }

body{   
    width: 100vw;
    height: 100vh;
    background-color: rgb(235, 247, 247);
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width: 27vw;
    max-width:500px;
    max-height: 550px;
   
    min-width: 400px;
    min-height: 300px;
    margin: 0 auto;
    background-color: white;
    box-shadow:.1px .1px 24px 2px rgb(143, 143, 143);

 }
 .login
 {

     font-size: 1.8rem;
     font-weight: 600;
 }

 .login-section>p
 {
     font-size: .8rem;
     font-weight: 500;
     color: rgb(169, 173, 173);
 }

 input
 {
     min-height: 30px;
     width:100%;
     height:7vh;
     max-height: 50px;
     border: 1.5px solid rgb(169, 173, 173);
     border-radius: .4rem;
     position: relative;

 }

 .far{

     position: absolute;
     top:15px;
     right:35px;
     font-size: 1.2rem;
     color: rgb(169, 173, 173);

 }
 .fas
 {

     position: absolute;
     top:33%;
     right:35px;
     font-size: 1.2rem;
     color:rgb(169, 173, 173);

 }
 input[type="checkbox"]
 {
     width:20px;
     height: 15px;         
 }

     .btn-primary
     {
        height:6vh;
        max-height: 50px;
        max-height: 100px;
        width:100%;

     }
     .bottom
     {
         background-color:rgb(235, 247, 247) ;
         position: relative;
         height: 7vh;
         max-height: 100px;
         display: flex;
         align-items: center;
         justify-content: center;
         font-weight: 600;

     }
     .forget
     {
        
         font-weight: 600;
     }
     @media screen and (max-width: 600px){
         
        input{height:6vh;}
        .far
        {
              top:15px;
              right:35px;
              font-size: .8rem;
         }
       .fas
       {
       
        top:32%;
        right:35px;
        font-size: .8rem;

        }
        input[type="checkbox"]
      {
         width:10px;
         height: 10px;         
      }

        .btn-primary
     {

         height:6vh;
         max-height: 100px;
         width:100%;

      }
    .bottom
    {

      height: 7vh;
      min-height: 50px;
      max-height: 100px;

      }
.forget
{

    font-size:.8rem ;
    font-weight: 600;

 }
 
     }